<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 타임리프 서버 템플릿 엔진으로 서버에서 변수값 또는 명령 처리 후에 html 랜더링 -->
<head>
<meta charset="UTF-8">
<title>rest api</title>
</head>
<body>
<hr>
<h3>INDEX</h3>
<hr>
<ul>
	<!-- 정적 자원 html 은 바로 링크에 url 설정합니다. 웹서버가 was 를 통하지 않고 응답을 줍니다. -->
	<li><a href="">카카오 검색 API 테스트</a></li>
	<li><a href="admin.html">관리자 : 회원관리</a></li>
	<li><a href="join.html">회원가입</a></li>
	<li><a href="/sample/hello">Go Hello</a></li>
	<li><a href="/sample/spring">Go Spring</a></li>
	<li><a href="/api/admin/bookusers">Go Admin Book Users</a></li>
</ul>
</body>
</html>
